#container
{
	width:100%;
	height:100%;
}

	#header
	{
		width:100%;
		float:left;
		background-color:#2E9AFE;
	}

		#headerTitle
		{
			font-size:36;
			margin-top:5px;
			margin-bottom:5px;
			margin-left:10px;
		}

	#links
	{
		width:10%;
		height:95%;
		height:;
		float:left;
		background-color:#58D3F7;
	}

		#linksContent
		{
			margin-left:10px;
			margin-top:5px;
			font-size:24;
		}

	#main
	{
		width:90%;
		height:95%;
		float:left;
		background-color:#E0F8F7;
	}
	
		#mainContent
		{
			margin-left:10px;
		}