/*  FFBE00, BF9B30, A67B00, FFCE40, FFDB73
 *  
 */

#html
{
	background-color:#FFD873;
}
input
{
	width:55px;
	background-color:#FFD873;
}
.button
{
	width:70px;
}
#container
{
	min-width:100%;
	min-height:100%;
	background-color:#FFD873;
}

	#header
	{
		float:left;
		background-color:#FFB800;
	}

		#headerTitle
		{
			font-size:36;
			margin-top:5px;
			margin-bottom:5px;
			margin-left:10px;
		}

	#links
	{
		float:left;
		background-color:#BF9730;
	}

		#linksContent
		{
			margin-left:10px;
			margin-top:5px;
			font-size:24;
		}

	#main
	{
		float:left;
		background-color:#FFCA40;

	}
	
		#mainContent
		{
			margin-left:10px;
		}