/*  FFBE00, BF9B30, A67B00, FFCE40, FFDB73
 *  
 */

#html
{
	background-color:#CCFFFF;
}
input
{
	width:55px;
	background-color:#FFFFFF;
}
.button
{
	width:76px;
}
#container
{
	font-size:20;
	background-color:#FFD873;
	margin: 0 auto;
}

	#header
	{
		float:left;
		background-color:#FFB800;
		text-align:center;
		margin: 0 auto;
	}

		#headerTitle
		{
			font-size:36;
			margin-top:5px;
			margin-bottom:5px;
			margin-left:10px;
		}

	#links
	{
		float:left;
		background-color:#BF9730;
		margin: 0 auto;
	}

		#linksContent
		{
			margin-left:10px;
			margin-top:5px;
			margin-bottom:5px;
			font-size:24;
		}

	#main
	{
		float:left;
		background-color:#FFFF99;
		word-wrap:break-word;
		margin: 0 auto;
	}
	
		#mainContent
		{
			margin-top:5px;
			margin-left:10px;
			margin-right:10px;
		}